.dnr {

    $border-width: 5px;

    position: relative;
    border: $border-width solid green;
    z-index: 100;

    &__close {

        position: absolute;
        top: -30px;
        right: -$border-width;
    }
}